body{
    margin:auto;
    font-style: normal;
    background-color: aquamarine;
}
header {
  background:#222;
  color:crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
nav a.active {
  text-decoration: underline;
}

main {
  padding: 40px 20px;
}

footer {
  background: #222;
  color: rgb(107, 17, 233);
  text-align: center;
  padding: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
.box{
    
  display: flex;
  justify-content: left; /* center the row */
  gap: 20px;               /* space between images */
  flex-wrap: wrap;         /* allows wrapping on small screens */
  margin: 30px 0;
}
.box img:hover {
  transform: scale(1.1); /* zoom in */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
@keyframes move{
  0%{left:0px;border-radius: 0px;}
  100%{left:300px;border-radius: 50px;}
}
.text-content {
  text-align: left;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease-out forwards;
}

/* Keyframes for fade + slide effect */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}